/pcap
*.pcap
*.cap
*.pcapng
*.pcap.gz
*.pcapng.gz
*.pcap.bz2
*.cap.gz
*.cap.bz2
*.pcapng.bz2
*.pcap.zip
*.cap.zip
*.pcapng.zip
*.pcapng.xz
*.cap.xz
*.pcapng.xz
*.pcap.bzip2
*.cap.bzip2
*.pcapng.bzip2
*.pcap.bzip
*.cap.bzip
*.pcapng.bzip
*.pcap.bz
*.cap.bz
*.pcapng.bz
*.pcap.bzip2.gz
*.cap.bzip2.gz
*.pcapng.bzip2.gz
*.pcap.bzip2.bz2
*.cap.bzip2.bz2
*.pcapng.bzip2.bz2
*.pcap.bzip2.zip
*.cap.bzip2.zip
*.pcapng.bzip2.zip
*.pcap.bzip2.xz